mixin icon(id)
    svg.icon
        use(xlink:href="../images/open-iconic.svg##{id}")

mixin fsicon(id)
    a(href="/gallery/#{id}")
        svg.icon.fullscreen-enter
            use(xlink:href="../images/open-iconic.svg#fullscreen-enter")

mixin insertSlide(id)
    - var slidenum = function(id){return "slide" + id};
    section.px(id="#{slidenum(id)}")
        .pxbcg
            .pxcontainer
                .pxcontext

mixin tile(imageName, i)
    .galleryTile.col-3
        .card
            img(src="../images/gallery/#{imageName}", alt="Card image cap").card-img-top
            +fsicon(i)


extend layout
block js
    script(type='text/javascript').
        var imgList = !{JSON.stringify(imgList)};

block content
    div#content.col-12
        section#slide1
            .pxbcg
                .pxcontainer
                    .pxcontext(data-start="bottom: 0px;",data-end="bottom: 1000px;",
                    data-anchor-target="#slide1")
                        .container-fluid
                            .row.justify-content-around
                                .col-3
                                    .profilepic
                                        img(src="../images/Me.jpg", alt="Me")
                                .col-6 
                                    h1 Gallery
                                    p There are an infinite amount of paths not taken. I took this one. This is what I saw and therefore what makes me, me
        section#slide2
            .pxbcg
                .pxcontainer
                    .pxcontext(data-start="bottom: -100px; opacity: 0;",data-center-top="bottom: 0px; opacity: 1;",data-anchor-target="#slide2")
                        .container-fluid
                            .row      
                                each img, i in imgList
                                    +tile(img,i)
                                else
                                    p Hello
        